
.container {
    display: grid;
    gap: 2rem;
    grid-auto-rows: 26rem;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    padding: 2rem;
    margin: 0;
}

.text-muted {
    font-weight: 600;
    color: aliceblue;  
    padding: 16px;
}

.container-footer {
   text-align: center;
}

.card {
    min-width: 18rem;
    max-width: 30rem;
}

